# --- PROD DB CREDENTIALS ---
DB_USER="postgres"
DB_PASSWORD="mysecretpassword"
DB_NAME="prod_db"
DB_PORT="5432"
DB_HOST="localhost"

EXTERNAL_PROD_PORT="5440"

# --- TEST DB (SANDBOX) CREDENTIALS ---
TEST_DB_USER="test_user"
TEST_DB_PASSWORD="test_pass"
TEST_DB_NAME="sandbox_db"
TEST_DB_PORT="5432"
TEST_DB_HOST="localhost"

EXTERNAL_TEST_PORT="5441"

ENVIRONMENT="DEV"
MAX_ITERATIONS="5"

# --- AI AGENT ---
GOOGLE_API_KEY=""

PROD_DB_IP=""