# --- PROD DB CREDENTIALS ---
DB_PROD__USER=postgres
DB_PROD__PASSWORD=mysecretpassword
DB_PROD__NAME=prod_db
DB_PROD__PORT=5432
DB_PROD__HOST=localhost

EXTERNAL_PROD_PORT=5440

# --- TEST DB (SANDBOX) CREDENTIALS ---
DB_TEST__USER=test_user
DB_TEST__PASSWORD=test_pass
DB_TEST__NAME=sandbox_db
DB_TEST__PORT=5432
DB_TEST__HOST=localhost

EXTERNAL_TEST_PORT=5441

ENVIRONMENT=DEV
MAX_ITERATIONS=5

# --- AI AGENT ---
GOOGLE_API_KEY=""

MODELS__GENERATOR=gemini-1.5-flash
MODELS__CRITIC=gemini-1.5-pro

PROD_DB_IP=""